@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

$restrictedColor : #eb8201;
$restrictedColorDark: darken($restrictedColor, 10%);
:global{
  .ql-active .ql-toolbar{
    position: relative !important;
  }
}
%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.itemStacker {
  @extend %animation;
  .container {
    margin: 0px auto;
  }

  ul.buttonList {
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 50px;
        text-decoration: none;
        font-size: 30px;
        line-height: 60px;
        color: white;
        cursor: pointer;
      }
      &:hover {
        a {
          animation-duration: 0.2;
          transform: translateY(-10px);
        }
      }
      a.basicButton {
        background-color: $ms-color-themePrimary;
      }
      a.warningButton {
        background-color: #eb8201;
        cursor: default;
      }
    }
  }

  .accordion{
    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
    @keyframes mymove {
      0%   {top: 0px;}
      25%  {top: 200px;}
      50%  {top: 100px;}
      75%  {top: 200px;}
      100% {top: 0px;}
    }
    border: 1px solid rgba(0, 0, 0, 0.1);

    .accordionHeader {
      background-color: $ms-color-neutralLight;
      color: $ms-color-neutralPrimary;
      position: relative;
      cursor: pointer;
      padding: 18px;
      text-align: left;
      border: none;
      font-size: large;
      margin-bottom: 2px;
      i{
        font-size: larger;
        right: 20px;
        position: absolute;
      }
    } &{
      .accordionHeaderOpen.isRestricted,
      .isRestricted:hover{
        background-color: $restrictedColor !important;
        color: $ms-color-white;
        transition: all .3s ease-in;
      }

    }
    .accordionHeader:hover,
    .accordionHeaderOpen{
      background-color: $ms-color-themePrimary;
      color: $ms-color-white;
      transition: all .3s ease-in;
    }
    .accordionContent{
      @extend %animation;
    }&{
      .show{
        height: auto;
        display: block;
        padding: 5px;

      }
      .hide{
        display: none;
        opacity: 0;
        height: 0px;
      }
    }
  }


}
