@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

$restrictedColor : #eb8201;
$restrictedColorDark: darken($restrictedColor, 10%);

%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.itemStacker {
  .container {
    margin: 0px auto;
  }

  .buttonRow {
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    .iconButton{
      line-height: 48px;
      text-align: center;
      font-size: 26px;
      width: 48px;
      height: 48px;
      -ms-flex: none;
      flex: none;
      align-self: center;
      box-sizing: border-box;
      position: relative;
      background-color: $ms-color-neutralLighter;
      i{
        font-size: 20px;
      }
    }
    .icon{
      line-height: 48px;
      text-align: center;
      font-size: 26px;
      width: 48px;
      height: 48px;
      -ms-flex: none;
      flex: none;
      -ms-flex-item-align: center;
      align-self: center;
      box-sizing: border-box;
      position: relative;
    }&{
      .warningIcon {
        text-align: center;
        padding-right: 15px;
        i{
          float: right;
          font-size: 28px;
          color: #eb8201 !important;
          font-weight: 700;
        }
      }
    }
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .accordion{
    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
    @keyframes mymove {
      0%   {top: 0px;}
      25%  {top: 200px;}
      50%  {top: 100px;}
      75%  {top: 200px;}
      100% {top: 0px;}
    }
    border: 1px solid rgba(0, 0, 0, 0.1);

    .accordionHeader {
      background-color: $ms-color-themePrimary;
      color: $ms-color-white;
      cursor: pointer;
      padding: 18px;
      text-align: left;
      border: none;
      font-size: large;
      margin-bottom: 2px;
      i{
        font-size: larger;
        right: 20px;
        position: fixed;
      }
    } &{
      .isRestricted {
        background-color: $restrictedColor;
        color: $ms-color-white;
        cursor: pointer;
        padding: 18px;
        text-align: left;
        border: none;
        font-size: large;
      }
      .isRestricted:hover{
        background-color: $restrictedColorDark !important;
      }
    }
    .accordionHeader:hover {
      background-color: $ms-color-themeDark;
    }
    .accordionContent{
      @extend %animation;
    }&{
      .show{
        height: auto;
        display: block;
        padding: 5px;

      }
      .hide{
        display: none;
        opacity: 0;
        height: 0px;
      }
    }
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
