@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

:global {
  /**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
  .u-position-absolute {
    position: absolute;
  }

  .u-position-relative {
    position: relative;
  }

  .accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  .accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .accordion__item--has-icon {
    position: relative;
  }

  .accordion__title {
    background-color: $ms-color-themePrimary;
    color: $ms-color-white;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    font-size: large;
  }

  .accordion__title:hover {
    background-color: $ms-color-themeDark;
  }

  .accordion__body {
    padding: 20px;
    display: block;
    animation: fadein 0.35s ease-in;
  }

  .accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
  }

  .accordion__title > *:last-child,
  .accordion__body > *:last-child {
    margin-bottom: 0;
  }

  [aria-expanded="true"].accordion__title {
    background-color: $ms-color-themeDark
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes move-down {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(5px);
    }
    30% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes move-up {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-5px);
    }
    30% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  .accordion__title--animated:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
  }

  .accordion__title--animated[aria-expanded="true"]:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
  }
}

.itemStacker {
  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .isRestricted {
    background-color: $ms-color-alert;
    color: $ms-color-white;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    font-size: large;
  }

  .expandButton{
    button{
      float: right;
      font-size: 24px;
      color: #eb8201 !important;
      padding-top: 4px;
      margin-left: 40px;
    }
  }

  .warningIcon {
    i{
      float: right;
      font-size: 24px;
      color: #eb8201 !important;
      padding-top: 4px;
    }
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
